/* #first_heading {
    color: red;
    font-size: 30;
}

.second_heading {
    color: blue;
    font-size: 30px;
} */

:root {
    --text-color: blue;
}

h1 {
    --my-color: blue;
    color: var(--my-color);
}

h2 {
    --my-color: green;
    color: var(--my-color);
}
h3 {
    color: var(--text-color);
}
/* #12 xong roi */